<ion-header class="ion-no-border">
  
  <ion-toolbar color="warning">
    <div class="icons">
      <ion-fab-button size="small">
        <ion-icon  name="volume-high-outline"  ></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small">
        <ion-icon name="location-outline"></ion-icon>
      </ion-fab-button>
    </div>
   
    <div class="nav">
      <ion-button fill="clear" color="warning" (click)="prevAnimal()" [disabled]="currentIndex == 0">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

      <span class="pageNumber">{{ currentIndex + 1 }} of {{totalItems }}</span>

      <ion-button fill="clear"  color="warning" (click)="nextAnimal()" [disabled]="currentIndex == totalItems - 1">
        <ion-icon name="arrow-forward-outline"></ion-icon> 
      </ion-button>
    </div>
</ion-toolbar>

</ion-header>

<ion-content class="ion-padding-horizontal">
<swiper-container
#swiper
  (swiperafterinit)="swiperReady($event)"
  [modules]="swiperModules"
>
    
@if(model){
  @for(item of model?.items; track $index){
    <swiper-slide>
      <app-animal-card
      [imageUrl]="item.imageUrl"
      [title]="item.title"
      [diet]="item.diet"
      [habitat]="item.habitat"
      [family]="item.family"
      [sizeRange]="item.sizeRange"
      [lifespan]="item.lifespan"
      ></app-animal-card>
    </swiper-slide>
  }
}
 
</swiper-container> 
</ion-content>
