
  <ion-row>
    <ion-col size="12">
      <ion-card class="animal" >
        <ion-thumbnail>
          <img [src]="imageUrl" >
        </ion-thumbnail>
        
        <ion-card-title> 
          <ion-text class="animal-title"> {{title}} </ion-text>
        </ion-card-title>
      </ion-card>
    </ion-col>
     
    <ion-col size="12">
      <ion-card class="info">
        <ion-card-subtitle class="diet">Diet</ion-card-subtitle>
        <ion-card-content> {{diet}} </ion-card-content>
        
        <div class="habitat">
          <ion-card-subtitle class="habitat">Habitat</ion-card-subtitle> 
          <div class="end">
            @if(family == 'Herbivore'){
              <ion-icon class="family_icon" name="fast-food-outline" color="dark"></ion-icon>
          } @else {
              <!-- <ion-icon name="Carnivore" color="dark"></ion-icon> -->
          }
        <ion-card-subtitle>{{family}}</ion-card-subtitle>
          </div>


        </div>
        
        <ion-card-content> {{habitat}} </ion-card-content>
        
        <ion-card-subtitle class="size-range">Size Range</ion-card-subtitle>
        <ion-card-content> {{sizeRange}} </ion-card-content>
    
        <ion-card-subtitle class="lifespan">Lifespan</ion-card-subtitle>
        <ion-card-content> {{lifespan}} </ion-card-content>
    
      </ion-card>
    </ion-col>
     
    
  </ion-row>
