ion-row{
    margin: 15px 0; 
    img {
        width: 332px;
        height: 487px;
    }
}

ion-card.info{
    padding: 20px;   
    width: 320px;
    height: 520px;
    right: 10px;   
}

ion-card-subtitle, .span{
    color: #000;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.19px;
}

ion-card-content{
    color: #1b1a1a;
    font-size:medium;
}

.diet{
    color: rgb(255, 94, 0);
    
}

.family-class{
    display: flex;
    justify-content: space-between;
 }
 
 .family-img{
     width: 35px;
     height: 30px;
     
 }
 
 .habitat-line{
     display: flex;
     justify-content: space-between;
 }

.habitat{
    color: rgb(14, 192, 14);
}

.size-range{
    color: #10b6bf;
}

.lifespan{
    color: rgb(181, 46, 181);
}