<ion-content class="ion-padding">
  <!-- Profile Section -->
<app-profile-section></app-profile-section>


  <!--Background Section-->
 <ion-list class="welcome">
   @for(profile of profiles; track $index){
     <div class="welcome-message">
       Hi {{profile?.name}}, let's explore our wonderful world
     </div>
   }
 
 </ion-list>
   

<ion-list class="rewards">
 <ion-card class="ion-margin">
   <ion-card-header class="section-header">
       <h3>My Badges</h3>
       <ion-button fill="clear" size="small" routerLink="badges">See All →</ion-button>
   </ion-card-header>
 
   <ion-card-content class="badges-container">
 
     @for (badge of badges; track $index) {
       <div class="badge-item">
 
         <ion-icon [name]="badge.icon" [color]="badge.color"></ion-icon>
   
         <span class="badge-number">{{badge.number}}</span>
       </div>
     }
   </ion-card-content>
 </ion-card >
</ion-list>




 <ion-list class="collection-quiz">
   <div class="cards">
     <ion-card class="collection-container" routerLink="collection">
       <ion-card-content >
           <h3>My Collection</h3>
         </ion-card-content>
       </ion-card>
     
       <ion-card class="quizzes-container" routerLink="quizzes">
         <ion-card-content >
             <h3>Quizzes</h3>
         </ion-card-content>
       </ion-card>
   </div >
 </ion-list>
 
</ion-content>



