<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" >
      <ion-icon [name]=" selectedTab == 'home' ? 'home' :'home-outline'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="scan" >
      <ion-icon [name]=" selectedTab == 'scan' ? 'scan' :'qr-code-outline'"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon [name]=" selectedTab == 'notifications' ? 'notifications' :'notifications-outline'"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon [name]=" selectedTab == 'settings' ? 'settings' :'settings-outline'"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>